.DS_Store
node_modules/
dist/
.vscode/
npm-debug.log
yarn-error.log
test/unit/coverage
test/e2e/reports
selenium-debug.log

config/github.json
public/frontend
public/service-worker.js
public/vue-ssr-client-manifest.json
public/vue-ssr-server-bundle.json

app/data/giog.sqlite
logs/
