:root {
  --textColor: #555;

  --textColor-active: #222;

  --linkColor: #005cc5;

  --bgColor: #F7F7F7;

  --bgColor-active: #EEEEEE;

  --fontSize-x-large: 22px; /* h1 */

  --fontSize-large: 20px; /* h2 */

  --fontSize-medium: 18px; /* h3 */

  --fontSize: 16px; /* default | h4 */

  --fontSize-small: 14px; /* h5 */

  --fontSize-mini: 12px; /* h6 */

  --paddingSize: 20px;

  --marginSize: 20px;
}

